## Lending Club Loans: Machine Learning

#### Importing the packages and data

In [1]:
import pandas as pd
import pandas_profiling
import numpy as np

In [5]:
lc_loans = pd.read_csv("python_ml_data/lc_loans.csv")
lc_loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,mean_fico_scores,grade,state_name
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B2,NaN,...,0.0,1,0,0.0,0,0.0,0.0,737,B,Arizona
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C4,Ryder,...,0.0,1,0,0.0,0,0.0,0.0,742,C,Georgia
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C5,NaN,...,0.0,1,0,0.0,0,0.0,0.0,737,C,Illinois
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C1,AIR RESOURCES BOARD,...,0.0,1,0,0.0,0,0.0,0.0,692,C,California
4,1075269,1311441,5000,5000,5000.0,36 months,7.90,156.46,A4,Veolia Transportaton,...,0.0,1,0,0.0,0,0.0,0.0,732,A,Arizona

In [6]:
pandas_profiling.ProfileReport(lc_loans)

TypeError: concat() got an unexpected keyword argument 'join_axes'

### Data Cleaning

In [10]:
# take only rows that are not current loans
lc_loans = lc_loans.loc[lc_loans["loan_status"] != "Current"].copy()

lc_loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,mean_fico_scores,grade,state_name
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B2,NaN,...,0.0,1,0,0.0,0,0.0,0.0,737,B,Arizona
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C4,Ryder,...,0.0,1,0,0.0,0,0.0,0.0,742,C,Georgia
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C5,NaN,...,0.0,1,0,0.0,0,0.0,0.0,737,C,Illinois
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C1,AIR RESOURCES BOARD,...,0.0,1,0,0.0,0,0.0,0.0,692,C,California
4,1075269,1311441,5000,5000,5000.0,36 months,7.90,156.46,A4,Veolia Transportaton,...,0.0,1,0,0.0,0,0.0,0.0,732,A,Arizona

In [11]:
lc_loans.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
sub_grade                         0
emp_title                      2427
emp_length                     4271
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
desc                          12980
purpose                           0
title                            11
zip_code                          0
addr_state                        0
debt_to_income_ratio              0
delinq_2yrs                       0
earliest_cr_line                  0
fico_range_low                    0
fico_range_high                   0
inq_last_6mths                    0
mths_since_last_delinq        25352
mths_since_last_record        36466
no_open_cred_lines                0
derog_pub_rec                     0
revol_bal                         0
revol_util_rate                  50
total_acc                         0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  39239
last_credit_pull_d                2
last_fico_range_high              0
last_fico_range_low               0
collections_12_mths_ex_med       56
policy_code                       0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
mean_fico_scores                  0
grade                             0
state_name                        0
dtype: int64